body,h2{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.landing{
  background-image: url("images/food.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}
header a{
  text-decoration: none;
  color: orangered;
}
header{
  display: flex;
  padding: 1em;
}
#logo{
  flex: 3;
  font-size: 1.25em;
  
}
nav{
  flex: 2;
  display: flex;

}
nav a{
  flex: 1;
}
nav a:hover{
  color: green;
}
.maintext{
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  padding: 2em;

}
.tagline1{
  font-weight: bold;
  font-size: 2.5em;
  color: brown;
  padding-bottom: 4em;
}
.tagline2{
  font-style: italic;
  color: blueviolet;
  font-size: 1.5em;
}
.maintext div{
  margin-top: 2em;
}
.maintext button{
  margin-top: 2em;
  width: 20vw;
  border-radius: 10px;
  background-color: chocolate;
  color: aliceblue;
  padding: .7em;
  border-color: chocolate;
}
.menu{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  background-color: bisque;
  color: black;
}
#menuheading{
  background-color: bisque;
  font-size: 2.5em;
  color:brown;
  display: flex;
  justify-content: center;
}
.menu th{
  font-size: 1.8em;
}
table{
  width: 100%;
  padding: 1em;
}
.menu tr{
  display: flex;
  justify-content: center;
  margin-top: .8em;
}
.menu td:nth-child(1){
  flex: 1;
  justify-self: left;
}
.menu td:nth-child(2){
  justify-self: right;
}
#cp{
  background-color: brown;
  padding: .25em 1em;
}

















